
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  color: white;
}

header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

header h1{
  font-size: 275%;
  margin: 25px 0px 27px 0px;
}

header nav ul{
  list-style: none;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 15px;
  align-items: center;
}

header nav ul li{
  margin: 5px;
  font-size: 20px;
}
.content{
  display: flex;
}

.labels{
  flex-direction: column;
  width: 100%;
border-right: 5px crimson;
border-top: 5px crimson;
border-bottom: 5px crimson;
border-style: solid;
border-radius: 10px;
}

.labels h2{
 margin-top: 20%;
 margin-bottom: auto;
}

.labels li a{
  color: black;
 }

.aboutLbl{
 padding-bottom: 105%;
}

.workLbl{
  padding-bottom: 105%;
}


 main { 
  display: flex;
  width: 100%;
}

.structure{
display: flex;
flex-direction: row;
}

.structImg{
align-content: center;
}

.proPic{
  width: 20%;
  display: inline-block;
  margin-left: 10%;
}

.lftSide{
width: 70%;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.rgtSide{
  width: 70%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.bigImg{
 display: flex;
 width: 100%;
 justify-content: center;
  }
  .bigImg a{
    height: 100%;
    align-items: center;
     }
  
.smlImg{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  }

  .smlImg img{
  width: 50%;
  height: 50%;
  }
  footer{
    background-color: black;
    color: white;
  }

  .abootMe{ 
width: 50%;
display: inline-block;
}

 @media screen and (max-width: 768px) { 
  .card {
   max-width: 100%;
  }

   Change the header color 
  header {
    background: #8ac4ff;
    justify-content: center;
    flex-direction: column;
  }

  header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  
  }
}